<!doctype html>
<html lang="en">
	<head>
		<title>Test form renderer</title>
	</head>
	<body>
		<div style="padding: 1em 0;default">
			<a href="/default/display/default">default_display</a>
			<a href="/default/compare/default">default_compare</a>
			<a href="/custom/display/default">custom_display</a>
			<a href="/custom/compare/default">custom_compare</a>
			<a href="/bootstrap4/display/default">bootstrap4_display</a>
			<a href="/bootstrap4/compare/default">bootstrap4_compare</a>
		</div>
	</body>
</html>
