{% load formrenderer %}

<tr><td colspan="2">
{# Form errors #}
{% include 'fromrenderer/default/errors.html' errors=form.non_field_errors error_class='nonfield' only %}

{# Hidden field errors #}
{% for boundfield in form.hidden_fields %}
(Hidden field {{ boundfield.html_name }}) {% include 'fromrenderer/default/errors.html' errors=boundfield.errors only %}
{% endfor %}
</td></tr>

{# Render visible fields with our templatetag #}
{% for boundfield in form.visible_fields %}
{{ boundfield|render:'formrenderer.registries.default' }}
{% endfor %}

{# Render hidden fields #}
{% for boundfield in form.hidden_fields %}
{{ boundfield }}
{% endfor %}
