<!doctype html>
<html lang="en">
	<head>
		<title>Test form renderer</title>
	</head>
	<body>
		{% include 'menu.html' %}
		<div style="display: inline-block; vertical-align:top;">
			<h1>Form rendered by Django</h1>
			<form method="POST">
				{% csrf_token %}
				<table><tbody>
				{{ form1 }}
				</tbody></table>
				<input type="submit" value="submit">
			</form>
		</div>
		<div style="display: inline-block; vertical-align:top;">
			<h1>Form rendered by default renderer</h1>
			<form method="POST">
				{% csrf_token %}
				<table><tbody>
				{% include 'default/form.html' with form=form2 only %}
				</tbody></table>
				<input type="submit" value="submit">
			</form>
		</div>
	</body>
</html>
