<!doctype html>
<html lang="en">
	<head>
		<title>Test form renderer</title>
	</head>
	<body>
		<div style="padding: 1em 0;">
			<a href="">Default</a>
			<a href="required">Required</a>
			<a href="disabled">Disabled</a>
			<a href="with_errors">With errors</a>
			<a href="with_initial">With initial</a>
		</div>
		<span style="display: inline-block; vertical-align:top;">
			<h1>Form rendered by Django</h1>
			<form method="POST">
				{% csrf_token %}
				<table><tbody>
				{{ form }}
				</tbody></table>
				<input type="submit" value="submit">
			</form>
		</span>
		<span style="display: inline-block; vertical-align:top;">
			<h1>Form rendered by default renderer</h1>
			<form method="POST">
				{% csrf_token %}
				<table><tbody>
				{% include 'default/form.html' with form=form only %}
				</tbody></table>
				<input type="submit" value="submit">
			</form>
		</span>
	</body>
</html>
