{% load boundfield_renderer %}

{# Add the non field errors #}
{% for error in form.non_field_errors %}
<tr><td colspan="2">{{ error }}</td></tr>
{% endfor %}

{# Add the hidden field errors #}
{% for boundfield in form.hidden_fields %}
{% if boundfield.errors %}
<tr>
	<td>Hidden field {{ boundfield.name }}</td>
	<td>{% include 'custom/error_list.html' with errors=boundfield.errors %}</td>
</tr>
{% endif %}
{% endfor %}

{# Render visible fields with our templatetag #}
{% for boundfield in form.visible_fields %}
{% renderer boundfield 'boundfield_renderer.registries.default' %}
{% endfor %}

{# Render hidden fields #}
{% for boundfield in form.hidden_fields %}
{{ boundfield }}
{% endfor %}
